/* =====================================================================
	rem Conversion
	==================================================================== */

	@function rem($fontSize) {
		$remSize: $fontSize / 20;
		@return #{$remSize}rem;
	}

/* =====================================================================
	Square Root
	==================================================================== */

	@function sqrt($r) {
		$x0: 1;
		$x1: $x0;

		@for $i from 1 through 10 {
			$x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
			$x0: $x1;
		}

		@return $x1;
	}

/* =====================================================================
	Exponent
	==================================================================== */

	@function pow($number, $exponent) {
		$value: 1;
		$number: strip-unit($number);

		@if $exponent > 0 {
			@for $i from 1 through $exponent {
				$value: $value * $number;
			}
		}

		@return $value;
	}

/* =====================================================================
	Add Unit
	==================================================================== */

	@function add-unit($value, $unit) {
		@return unquote($value + $unit);
	}
