/* =====================================================================
	HTML
	==================================================================== */

	h1, h2, h3, h4, h5, h6 { margin: 0; }

	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	a {
		text-decoration: underline;
		transition: all $ui-transition-duration;
		color: $highlight-primary;
	}

/* =====================================================================
	Game Screen
	==================================================================== */

	.full-page-screen {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}

/* =====================================================================
	Media Object
	==================================================================== */

	.media {
		display: flex;
		align-items: flex-start;
	}

	.media-figure { margin-right: 1em; }
	.media-body { flex: 1; }

/* =====================================================================
	WYSIWYG Content
	==================================================================== */

	.wysiwyg-content {
		margin: 1em 0;

		:last-child { margin-bottom: 0; }

		img { max-width: 100%; }
	}

/* =====================================================================
	Positioning
	==================================================================== */

	.cover { @include cover; }

/* =====================================================================
	Resets
	==================================================================== */

	.semantic-list {
		@include semantic-list;
	}

/* =====================================================================
	Button Container
	==================================================================== */

	.btn-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@include tablet { flex-direction: row; }

		.pill-button-component { margin: rem(10); }
	}

/* =====================================================================
	Modals
	==================================================================== */

	.modal-content {
		width: 100%;
		height: 100%;
	}

	.common-heading {
		font-family: $heading-font;
		font-size: $heading-size-sm;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 1rem;

		@include desktop { font-size: $heading-size-lg; }
		@include desktop-sm { font-size: $heading-size-md; }
	}

	.instructions {
		font-family: $heading-font;
		font-size: $heading-size-sm;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 1rem;

		@include desktop { font-size: $heading-size-sm; }
		@include desktop-sm { font-size: $heading-size-sm; }
	}

	.task-modal {
		position: relative;
		background-color: $main-4;
		background-image: url('~@/assets/images/backgrounds/task-doodle.svg');
		background-position: right bottom;
		background-repeat: no-repeat;
		
		@include desktop {
			transform: rotate(1.2deg);
			background-size: 50%;

			.modal-content-inner { transform: rotate(-1.2deg); }
		}

		&:after {
			content: '';
			position: absolute;
			top: -34px;
			right: 0;
			left: 0;
			margin: auto;
			height: 100px;
			background-image: url('~@/assets/images/paper-clip.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.modal-content-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		width: 100%;
		padding: 65px 20px 20px;

		@include desktop { padding: 3.5em 5em; }
		@include desktop-sm { padding: 3.5em 4em; }

		.content, .text { font-size: $font-size-lg; }
	}

/* =====================================================================
	Borders
	==================================================================== */

	.lined-paper {
		position: relative;
		width: 100%;
		padding: .25em 0;
		font-family: $heading-font;

		@include desktop {
			padding: .5em 1em;

			&:before {
				content: '';
				position: absolute;
				right: 0;
				left: 0;
				bottom: 0;
				height: 5px;
				width: 100%;
				background-image: url('~@/assets/images/paper-line.svg');
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		&.lined-space {
			color: $light-primary;
			user-select: none;
		}
	}

	.lined-paper-filler {
		@include desktop {
			flex-grow: 1;
			width: 100%;
			background-image: url('~@/assets/images/paper-line-spaced.svg');
			background-repeat: repeat;
			min-height: 60px;
		}
	}

	.pinned {
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 20px;
			margin: auto;
			width: 75px;
			height: 75px;
			background-image: url('~@/assets/images/tack.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			@include desktop {
				top: -30px;
				width: 100px;
				height: 100px;
			}
		}

		&:before {
			left: 20px;

			@include desktop { left: 50px; }
		}

		&:after {
			right: 20px;

			@include desktop { right: 50px; }
		}
	}

/* =====================================================================
	Other
	==================================================================== */

	.scrolling-content {
		overflow: auto;
		width: 100%;
	}

	.border-radius {
		@include desktop { border-radius: 20px 20px 0 0; }
	}

	.show-desktop {
		display: none;

		@include desktop { display: block; }
	}

	.clickable-image {
		width: 80px;
		height: 80px;

		@include tablet {
			width: 100px;
			height: 100px;
		}
	}

/* =====================================================================
	List Styles
	==================================================================== */

	.list-styles {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
		background: $light-primary;
		max-height: 100%;
		overflow: scroll;
		overflow-x: hidden;
		-ms-overflow-style: none;
		padding: 20px 20px $goal-space-height-mobile 20px;
		font-size: $font-size-lg;

		@include tablet { padding: 20px 20px $goal-space-height-tablet 20px; }
		@include desktop { padding: 1em 2em 1em 3em; }

		&.border-radius { overflow: hidden; }
	}
