/*
* This file is contains a map of css-variable names to scss
* variables.  Do not use this file to declare css variables without
* first creating a scss variable counterpart.

* Use CSS variables only for things that will change dynamically across
* components based on screen size or a high level app state.
*/

/* Define the Sassy Map called $variable-map */
$variable-map: (
	--section-margin-lg: $section-margin-lg,
	--section-margin: $section-margin-md,
	--section-margin-sm: $section-margin-sm,
	--main-color: $main-1,
	--home-background: url('~@/assets/images/backgrounds/homepage-1.svg'),
	--dashboard-image: url('~@/assets/images/backgrounds/desk-image-1.png'),
	--pen: url('~@/assets/images/pen-1.svg'),
);

:root {
	@each $css-variable-name, $sass-variable-value in $variable-map {
		#{$css-variable-name}: #{$sass-variable-value};
	}
}
